@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a:hover {
  text-decoration: none; }

ul {
  list-style-type: none; }

.esas {
  width: 100%;
  height: 550px;
  position: relative;
  background: #fbfafa; }
  .esas::before {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.06;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Images/pattern (3).png"); }

.main {
  width: 100%;
  height: 100px;
  position: relative; }
  .main .mainleft {
    float: left; }
    .main .mainleft img {
      font-size: 20px; }
  .main .mainright {
    margin-top: 25px; }
    .main .mainright .nav-item {
      color: #fd8a06 !important; }
    .main .mainright .nav-link {
      font-size: 18px;
      margin-right: 15px; }
    .main .mainright .navbar-nav {
      float: right; }
  .main .logo {
    width: 86px;
    height: 47px;
    margin-top: 30px; }
  .main h1 {
    font-family: 'Ramabhadra', sans-serif;
    font-size: 58px; }
  .main .mainright .navbar .active a {
    color: #ff7600e8; }
  .main .mainright .navbar .dropdown-menu {
    width: 1193px;
    height: 410px;
    margin-left: -885px; }
    .main .mainright .navbar .dropdown-menu a {
      color: black;
      font-size: 14px; }
    .main .mainright .navbar .dropdown-menu img {
      width: 270px;
      margin-left: -61px;
      margin-top: 30px; }
    .main .mainright .navbar .dropdown-menu .dropdown-item {
      font-family: 'Comfortaa', cursive; }
    .main .mainright .navbar .dropdown-menu h5 {
      margin-top: 32px;
      margin-bottom: 10px;
      margin-left: 17px;
      font-weight: bolder; }
    .main .mainright .navbar .dropdown-menu .btn {
      width: 180%;
      height: 40px;
      border-radius: 50px;
      margin-top: 15px;
      margin-right: 22px;
      background-color: #fd8a06;
      border: 1px solid white;
      overflow: hidden;
      cursor: pointer;
      transition: .5s all linear;
      position: relative; }
      .main .mainright .navbar .dropdown-menu .btn a {
        color: white; }
      .main .mainright .navbar .dropdown-menu .btn:hover a {
        color: #fd8a06 !important; }
      .main .mainright .navbar .dropdown-menu .btn::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 200px;
        transition: .3s all ease-out;
        margin-top: -13px; }
      .main .mainright .navbar .dropdown-menu .btn:hover:before {
        left: 0px;
        background: white; }
    .main .mainright .navbar .dropdown-menu .btn2 {
      width: 180%;
      height: 40px;
      border-radius: 50px;
      margin-top: 15px;
      margin-right: 22px;
      background-color: white;
      border: 1px solid #fd8a06;
      overflow: hidden;
      cursor: pointer;
      transition: .5s all linear;
      position: relative; }
      .main .mainright .navbar .dropdown-menu .btn2 a {
        color: #fd8a06; }
        .main .mainright .navbar .dropdown-menu .btn2 a:hover a {
          color: white !important; }
      .main .mainright .navbar .dropdown-menu .btn2::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 200px;
        transition: .3s all ease-out;
        margin-top: -13px; }
      .main .mainright .navbar .dropdown-menu .btn2:hover:before {
        left: 0px;
        background: #fd8a06; }
        .main .mainright .navbar .dropdown-menu .btn2:hover:before a {
          color: white !important; }
  .main .navbarsearch {
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: #fff !important;
    text-align: center;
    border-radius: 50%;
    background: #fd8a06;
    cursor: pointer;
    padding: 0 !important;
    margin-left: 15px !important;
    position: relative;
    border: 1px solid #fd8a06;
    margin-top: 4px !important;
    font-size: 16px; }
    .main .navbarsearch::before {
      content: '';
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: none;
      border: 2px solid #fd8a06;
      position: absolute;
      top: -5px;
      left: -5px;
      display: block; }

.main1 {
  width: 100%;
  height: 454px;
  position: relative; }
  .main1::before {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.06;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Images/pattern (3).png"); }
  .main1 .h3 {
    text-align: center; }
  .main1 p {
    text-align: center;
    font-size: 23px;
    color: #929090; }
  .main1 h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    margin-top: 36px; }
  .main1 ul {
    margin-left: 43%; }
    .main1 ul li {
      float: left;
      font-size: 16px; }
    .main1 ul .home a {
      color: #fd8a06; }
    .main1 ul .home::after {
      padding: 0 5px;
      color: #ccc;
      content: "/ "; }
  .main1 .navbar {
    width: 100%;
    height: 100px; }
    .main1 .navbar .main {
      width: 100%;
      height: 100px;
      position: relative; }
      .main1 .navbar .main .mainleft {
        float: left; }
        .main1 .navbar .main .mainleft img {
          font-size: 20px; }
      .main1 .navbar .main .mainright {
        margin-top: 25px; }
        .main1 .navbar .main .mainright .nav-item {
          color: #fd8a06 !important; }
        .main1 .navbar .main .mainright .nav-link {
          font-size: 18px;
          margin-right: 15px; }
        .main1 .navbar .main .mainright .navbar-nav {
          float: right; }
      .main1 .navbar .main .logo {
        width: 86px;
        height: 47px;
        margin-top: 30px; }
      .main1 .navbar .main h1 {
        font-family: 'Ramabhadra', sans-serif;
        font-size: 58px; }
      .main1 .navbar .main .mainright .navbar .active a {
        color: #ff7600e8; }
      .main1 .navbar .main .mainright .navbar .dropdown-menu {
        width: 1193px;
        height: 410px;
        margin-left: -885px; }
        .main1 .navbar .main .mainright .navbar .dropdown-menu a {
          color: black;
          font-size: 14px; }
        .main1 .navbar .main .mainright .navbar .dropdown-menu img {
          width: 270px;
          margin-left: -61px;
          margin-top: 30px; }
        .main1 .navbar .main .mainright .navbar .dropdown-menu .dropdown-item {
          font-family: 'Comfortaa', cursive; }
        .main1 .navbar .main .mainright .navbar .dropdown-menu h5 {
          margin-top: 32px;
          margin-bottom: 10px;
          margin-left: 17px;
          font-weight: bolder; }
        .main1 .navbar .main .mainright .navbar .dropdown-menu .btn {
          width: 180%;
          height: 40px;
          border-radius: 50px;
          margin-top: 15px;
          margin-right: 22px;
          background-color: #fd8a06;
          border: 1px solid white;
          overflow: hidden;
          cursor: pointer;
          transition: .5s all linear;
          position: relative; }
          .main1 .navbar .main .mainright .navbar .dropdown-menu .btn a {
            color: white; }
          .main1 .navbar .main .mainright .navbar .dropdown-menu .btn:hover a {
            color: #fd8a06 !important; }
          .main1 .navbar .main .mainright .navbar .dropdown-menu .btn::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 200px;
            transition: .3s all ease-out;
            margin-top: -13px; }
          .main1 .navbar .main .mainright .navbar .dropdown-menu .btn:hover:before {
            left: 0px;
            background: white; }
        .main1 .navbar .main .mainright .navbar .dropdown-menu .btn2 {
          width: 180%;
          height: 40px;
          border-radius: 50px;
          margin-top: 15px;
          margin-right: 22px;
          background-color: white;
          border: 1px solid #fd8a06;
          overflow: hidden;
          cursor: pointer;
          transition: .5s all linear;
          position: relative; }
          .main1 .navbar .main .mainright .navbar .dropdown-menu .btn2 a {
            color: #fd8a06; }
            .main1 .navbar .main .mainright .navbar .dropdown-menu .btn2 a:hover a {
              color: white !important; }
          .main1 .navbar .main .mainright .navbar .dropdown-menu .btn2::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 200px;
            transition: .3s all ease-out;
            margin-top: -13px; }
          .main1 .navbar .main .mainright .navbar .dropdown-menu .btn2:hover:before {
            left: 0px;
            background: #fd8a06; }
            .main1 .navbar .main .mainright .navbar .dropdown-menu .btn2:hover:before a {
              color: white !important; }
      .main1 .navbar .main .navbarsearch {
        width: 28px;
        height: 28px;
        line-height: 28px;
        color: #fff !important;
        text-align: center;
        border-radius: 50%;
        background: #fd8a06;
        cursor: pointer;
        padding: 0 !important;
        margin-left: 15px !important;
        position: relative;
        border: 1px solid #fd8a06;
        margin-top: 4px !important;
        font-size: 16px; }
        .main1 .navbar .main .navbarsearch::before {
          content: '';
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background: none;
          border: 2px solid #fd8a06;
          position: absolute;
          top: -5px;
          left: -5px;
          display: block; }

.main2 {
  width: 100%;
  height: 600px;
  margin-top: 80px; }
  .main2 .contact #map {
    min-height: 500px;
    width: 100%; }
  .main2 .contact .map-holder {
    padding: 5px;
    border: 1px solid #fd8a06; }
  .main2 .contact .contact-details {
    width: calc(100% + 150px);
    transform: translateX(-150px);
    padding: 70px 30px;
    background: #fd8a06;
    color: #fff; }
  .main2 .contact .contact-details h2 {
    color: #fff; }
  .main2 .contact .contact-details strong {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    text-transform: uppercase; }
  .main2 .contact .contact-details p {
    font-size: 0.9em;
    margin-bottom: 5px; }
  .main2 .contact .form-holder {
    padding: 80px 50px 40px;
    border: 1px solid #fd8a06;
    background: #fff;
    position: relative; }
  .main2 .contact .form-holder .star {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fd8a06;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: 100px; }

.main3 {
  width: 100%;
  height: 500px;
  background: #e0d9d929; }
  .main3 .title {
    width: 100%;
    height: 150px;
    margin-top: 40px;
    position: relative; }
    .main3 .title .bgspan {
      font-size: 109px;
      opacity: 0.03;
      margin-left: 34%;
      margin-top: -9px;
      position: absolute; }
    .main3 .title h4 {
      text-align: center;
      color: #fd8a06;
      margin-top: 34px; }
    .main3 .title h1 {
      text-align: center;
      margin-top: -6px; }
  .main3 strong {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    text-transform: uppercase; }
  .main3 i {
    color: grey;
    float: left; }
  .main3 h5 p {
    color: grey;
    margin-left: 16px; }
  .main3 .first {
    margin-top: 18px; }

.main4 {
  width: 100%;
  height: 900px; }
  .main4 .title {
    width: 100%;
    height: 150px;
    margin-top: 40px;
    position: relative; }
    .main4 .title .bgspan {
      font-size: 109px;
      opacity: 0.03;
      margin-left: 34%;
      margin-top: -9px;
      position: absolute; }
    .main4 .title h4 {
      text-align: center;
      color: #fd8a06;
      margin-top: 34px; }
    .main4 .title h1 {
      text-align: center;
      margin-top: -6px; }
  .main4 .main10 {
    width: 100%;
    height: 700px; }
    .main4 .main10 .table {
      width: 90%;
      height: 600px;
      margin-left: 55px;
      border: 1px solid #fd8a06;
      border-radius: 20px;
      position: relative; }
      .main4 .main10 .table::before {
        content: "";
        display: block;
        position: absolute;
        opacity: 0.07;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../Images/pattern (3).png"); }
      .main4 .main10 .table .star {
        width: 60px;
        height: 60px;
        margin: -21px 111px;
        border-radius: 50%;
        background-color: #fd8a06; }
        .main4 .main10 .table .star i {
          padding: 18px;
          font-size: 26px;
          color: white; }
      .main4 .main10 .table input {
        border: none;
        border-bottom: 1px solid #807d7a; }
      .main4 .main10 .table .btn {
        width: 20%;
        height: 47px;
        border-radius: 50px;
        margin-left: 39%;
        text-transform: uppercase;
        background-color: #fd8a06; }
      .main4 .main10 .table .btn:hover {
        background-color: #fd8a06; }
      .main4 .main10 .table a {
        color: white; }
      .main4 .main10 .table .col-md-6, .main4 .main10 .table .col-md-12 {
        margin-top: 20px;
        padding: 28px 82px; }

.footer1 {
  width: 100%;
  height: 500px;
  padding: 100px 0 0;
  background: #111; }
  .footer1 p {
    color: #555;
    font-size: 16px; }
  .footer1 h3 {
    margin-bottom: 44px;
    color: #fd8a06; }
  .footer1 i {
    color: #fd8a06; }
  .footer1 .head {
    margin-top: 22px;
    margin-bottom: 30px; }
  .footer1 .body p {
    margin-top: -3px; }
  .footer1 hr {
    color: white; }
  .footer1 .button .col-md-6 {
    border-bottom: 1px  solid #544c4c;
    margin-top: 4px; }

.footer2 {
  padding: 30px 0;
  background: #0d0d0d; }
  .footer2 li {
    float: left;
    padding: 10px; }
    .footer2 li i {
      color: #fd8a06;
      font-size: 16px; }

/*# sourceMappingURL=contact.css.map */
